.greeting {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	/*padding-top: 5vh;*/
}

.greeting.headers {
	padding: 0;
	margin-bottom: 2vw;
}

.greeting h2 {
	margin-top: 5vh;
	margin-bottom: 0;
	font-weight: 400;
}

.greeting h3 {
	font-weight: 300;
}

.greeting .navlink {
	border: 1px solid #121212;
	border-radius: 5px;
	width: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 2vh;
	position: relative;
	color: inherit;
	text-decoration: none;
}

.greeting h3, .greeting .navlink {
	margin-top: 0;
	margin-bottom: 2.5vh;
}


.main-menu {
	position: fixed;
	z-index: 4;
	display: initial;
	transition: 0.2s;
	left: 0;
	bottom: 0;
}

.hamburger {
	bottom: 50px;
	left: 50px;
	position: absolute;
	border-radius: 50%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: -1px 1px 3px rgba(18, 18, 18, 0.2);
	background-image: url(../img/minus.svg);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	transition: 0.5s;
	transition-delay: 0.1s;
}

.main-menu .navlink{
	pointer-events: none;
	transition: 0.2s;
	border-radius: 50%;
	padding: 22.5px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: -1px 1px 3px rgba(18, 18, 18, 0.5);
}

.main-menu.hidden .hamburger {
	padding: 30px;
	bottom: 42.5px;
	left: 42.5px;
	background-image: url(../img/hamburger.svg);
}